@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    src: url("./assets/articulat/ArticulatCF-Regular.otf") format("opentype");
    font-family: "Articulat";
    font-weight: 400;
  }

  @font-face {
    src: url("./assets/articulat/ArticulatCF-Medium.otf") format("opentype");
    font-family: "ArticulatBold";
    font-weight: bold;
  }

  @font-face {
    src: url("./assets/articulat/ArticulatCF-Normal.otf") format("opentype");
    font-family: "ArticulatLight";
    font-weight: lighter;
  }

  @font-face {
    src: url("./assets/articulat/ArticulatCF-NormalOblique.otf") format("opentype");
    font-family: "ArticulatOblique";
    font-weight: normal;
    font-style: italic;
  }

  body {
    font-family: "Articulat"
  }

  .custom-scrollbar::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #DFE9EB;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track:active {
    background-color: #8F55C2;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #003AFF;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #62A34B;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:active {
    background-color: #62A34B;
  }
}

@layer components {
  /* --var(theme-color): #003AFF */

  .btn-primary {
    @apply bg-[#003AFF] text-white;
  }

  .text-theme {
    color: #003AFF;
  }

  .bg-theme {
    @apply bg-[#003AFF] text-white;
  }

  .log {
    @apply border-2;
  }

  .log.error {
    @apply border-red-400;
  }

  .log.info {
    @apply border-blue-500;
  }

  .log.debug {
    @apply border-green-500;
  }

  .log.fatal {
    @apply border-red-700;
  }

  .log.critical {
    @apply border-black;
  }

  .log.error-bg {
    @apply bg-red-400;
  }

  .log.info-bg {
    @apply bg-blue-500;
  }

  .log.debug-bg {
    @apply bg-green-500;
  }

  .log.fatal-bg {
    @apply bg-red-700;
  }

  .log.critical-bg {
    @apply bg-black;
  }
}